*,*::before,*::after{
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #FFFFFF;
}


/* Header section css start */
.container{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title-container{
    display: flex;
    align-items: center;
    gap : 0.1875em;
}
.icon{
    
    width: 23px;
    height: 23px; 
    margin-left: 1.25em; 
}

.heading{
    font-size: 0.875rem;
    font-family: 'Roboto', sans-serif;
    color: #0E0E0E;
}
ul{
    display: flex;
    
}
li{
    font-size: 0.75rem;
    font-weight: 600;
    list-style: none;
    margin-right: 1.67em;
    color: #090909;
}
.nav{
    font-size: 0.75rem;
    color: #090909;
    text-decoration: none;
}
/* header css end */

/* header image css start */

.header-image-container{
    width: 100%;
    height: 293px;
    background-image: url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
    background-size: cover;
    color: #FFFFFF;
    padding: 1.25em;
    padding-top: 4.3em;  
}

.date{
    font-size: 0.75rem;
    margin-bottom: 0.66em;
    
}
.image-title{
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 0.25em;
}
.image-body{
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.25;
    
}
/* header image css end */

/* Main body css start */
.main-container{
    padding: 2.125em 1.25em 0 1.25em;
}

.main-image{
   display: block;
   width: 100%;
   height: 232px;
   object-fit: cover; 
   margin-bottom: 0.875em;
}
.main-date{
    font-size: 0.875rem;
    margin-bottom: 0;
}
.main-heading{
    color: #141414;
    font-size: 1.5rem;
    margin: 0.375em 0;
}
.main-body{
    margin: 0 0 2.5625em 0;;
    color: #505050;
    font-size: 1rem;
    line-height: 1.25;
}
.view-more-container{
    
    text-align: center;
    margin-bottom: 2.5em;
}
.view-more-link{
    color: #000000;
    font-weight: 700;
    
}
/* main css end */

/* footer css start */
.footer-container{
    min-height: 105px;
    background-color: #202020;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-heading{
    font-size: 0.75rem;
    margin-bottom: 0;
    
}
.copyright{
    margin-top: 0.5em;
    font-size: 0.75rem;  
}
.wider{
    display: none;
}
/* footer css end */

/* media queries */
@media(min-width:630px)
{
    .wider{
        display: block;
    }
    .try{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 60%;
        height: 100%; 
    }
    .main-container{
        padding: 3.3125em;
        display: flex;
        gap: 1.625em;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .main-post{
        flex-basis: 400px;
        
    }
    .view-more-container{
        display: block;
    }
    .try2{
        
    }
    .heading{
        font-size: 1rem;
    }
    li{
        font-size: 0.9rem;
    }
    .footer-heading,.copyright{
        font-size: 0.90rem;
    }
    .view-more-link{
        font-size: 1.25rem;
    }
    
    /* css for about me page */
    
    .aboutme{
        padding: 3.3125em;
        display: flex;
        gap: 2em;
        align-items: center;
        
    }
    .qanda-section{
        padding: 0 7.5em;
    }
  
}

.about-main-container{
    padding: 0 1.25em;
    color: #151515;
}

.profile-avatar{
    width: 182px;
    height: 132px;
    border-radius: 50%;
    
}
.image-heading{
    margin-top: 0.80em;
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 0;
    
}
.image-body{
    margin-top: 1em;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0;
}
.qanda-section{
    margin-top: 3.125em;
}
.question{

    font-size: 1.1rem;
    
}
.answer{
    font-size: 1rem;
    line-height: 1.25;
}
.space{
    margin-top: 1.5em;
}
.recent-posts{
    margin-top: 2.80em;
    margin-bottom: 0;
}
